<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://direccion_del_servidor:3306/nombre_de_la_BD</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">usuario</property>
    <property name="connection.password">contraseña</property>
    <property name="hibernate.dialect">>org.hibernate.dialect.MySQLDialect</property>

    <!-- Mostrar SQL -->
    <property name="show_sql">true</property>

    <!-- Mapeo de entidades -->
    <mapping class="com.example.frikartas.domain.models.OnePieceCard"/>
    <mapping class="com.example.frikartas.domain.models.OnePieceCollection"/>
    <mapping class="com.example.frikartas.domain.models.KimetsuNoYaibaCard"/>
    <mapping class="com.example.frikartas.domain.models.KimetsuNoYaibaCollection"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>